<div>
<h1 class="page-header">FORM</h1>

  <form>
    <label>Age</label><br />
    <input type="radio" name="age" checked/>Under 30<br />
    <input type="radio" name="age" />31-40<br />
    <input type="radio" name="age"/>41-50<br />
    <input type="radio" name="age"/>51-64<br />
      <input type="radio" name="age"/>65 +<br />

    <label>Annual Income</label><br />
    <input type="radio" name="income" checked/>$0-50k<br />
    <input type="radio" name="income"/>$50-100k<br />
    <input type="radio" name="income"/>$100-250k<br />
    <input type="radio" name="income"/>$250-500k<br />
    <input type="radio" name="income"/>$500 +<br />

    <label>Est. Net Worth</label><br />
    <input type="radio" name="worth" checked/>$0-50k<br />
    <input type="radio" name="worth"/>$50-100k<br />
    <input type="radio" name="worth"/>$100-250k<br />
    <input type="radio" name="worth"/>$250-500k<br />
    <input type="radio" name="worth"/>$500 +<br />

    <label>Liquid Net Worth</label><br />
    <input type="radio" name="liquid" checked/>$0-50k<br />
    <input type="radio" name="liquid"/>$50-100k<br />
    <input type="radio" name="liquid"/>$100-250k<br />
    <input type="radio" name="liquid"/>$250-500k<br />
    <input type="radio" name="liquid"/>$500 +<br />

    <label>Tax Status</label><br />
    <input type="radio" name="tax" checked/>15%<br />
    <input type="radio" name="tax"/>20%<br />
    <input type="radio" name="tax"/>25%<br />
    <input type="radio" name="tax"/>30%<br />
    <input type="radio" name="tax"/>35% +<br />

    <label>Percent of investment required to be liquid</label><br />
    <input type="radio" name="investmentliquid" checked/>less than 10%<br />
    <input type="radio" name="investmentliquid"/>10% - 20%<br />
    <input type="radio" name="investmentliquid"/>20% - 30%<br />
    <input type="radio" name="investmentliquid"/>More than 30%<br />

    <label>Investment Objectives</label><br />
    <input type="radio" name="objective" checked/>Speculation<br />
    <input type="radio" name="objective"/>Growth<br />
    <input type="radio" name="objective"/>Income<br />
    <input type="radio" name="objective"/>Tax Advantages<br />
    <input type="radio" name="objective"/>Safety of Principal<br />
    <input type="radio" name="objective"/>Other<br />

    <label>Risk Tolerance</label><br />
    <input type="radio" name="tolerance" checked/>Aggressive<br />
    <input type="radio" name="tolerance"/>Moderately Aggressive<br />
    <input type="radio" name="tolerance"/>Balanced/Moderate<br />
    <input type="radio" name="tolerance"/>Moderately Conservative<br />
    <input type="radio" name="tolerance"/>Conservative<br />

    <label>Investment Experience</label><br />
    <input type="radio" name="experience" checked/>Limited<br />
    <input type="radio" name="experience"/>Good<br />
    <input type="radio" name="experience"/>Extensive<br />

    <label>Time Horizon</label><br />
    <input type="radio" name="time" checked/>Short Term<br />
    <input type="radio" name="time"/>3-5 Years<br />
    <input type="radio" name="time"/>5-10 Years<br />
    <input type="radio" name="time" />10+ Years<br />

    <label></label>



  </form>
</div>
