<div>
  <h1>{{specificData.Symbol}}: {{specificData.Name}}</h1>
  <h3 ng-show="specificData.Currency">Currency: {{specificData.Currency}}</h3>
  <h4 ng-show="specificData.PERatio">PE Ratio: {{specificData.PERatio}}</h4>
  <h4 ng-show="specificData.Open">Open: {{specificData.Open}}</h4>
  <h4 ng-show="specificData.Ask">Ask: {{specificData.Ask}}</h4>
  <h4 ng-show="specificData.Bid">Bid: {{specificData.Bid}}</h4>
  <h4 ng-show="specificData.OneyrTargetPrice">One Year Target Price: {{specificData.OneyrTargetPrice}}</h4>
  <h4 ng-show="specificData.EPSEstimateCurrentYear">EPS: {{specificData.EPSEstimateCurrentYear}}</h4>
  <h4 ng-show="specificData.DaysRange">Days Range: {{specificData.DaysRange}}</h4>
  <h4 ng-show="specificData.YearRange">Year Range: {{specificData.YearRange}}</h4>
  <h4 ng-show="specificData.Volume">Volume: {{specificData.Volume}}</h4>
  <h4 ng-show="specificData.MarketCapitalization">Market Cap: {{specificData.MarketCapitalization}}</h4>
  <h4 ng-show="specificData.DividendYield">Dividend Yield: {{specificData.DividendYield}}</h4>
</div>
