/**********************
       CONSTANTS
***********************/
/*********************************
   OPERATIONS & COLOR FUNCTIONS
**********************************/
/**********************
        MIXINS
***********************/
.Round {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
/**********************
         STYLES
***********************/
#nav-container {
  height: 8vh;
  width: 100%;
  border-bottom: 1px solid gray;
}
.logo-container {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.nav-items {
  display: inline-block;
}
.shape {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #00a5d9;
  margin: 20px;
  border: 20px solid #0083b7;
}
.shape:hover {
  background: lightgray;
}
#shape1 {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
#shape2 {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#shape3 {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
/*************************
		ORGANIZATION:
Separate files for:
CSS Reset or normalization,
Colors,
Fonts and typography,
UI Elements,
The main styles of the page,
...and any other relevant group of rules depending on your project.

**************************/
