@import url(https://fonts.googleapis.com/css?family=Oswald|Merriweather|Droid+Serif);
/**********************
       CONSTANTS
***********************/
/*********************************
   OPERATIONS & COLOR FUNCTIONS
**********************************/
/**********************
        MIXINS
***********************/
.Round {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
/**********************
         STYLES
***********************/
a:link {
  color: #000;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
  text-decoration: none;
}
a:visited {
  color: #000;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
  text-decoration: none;
}
.companies {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap row;
}
.company-stock {
  font-family: 'Merriweather', 'Oswald', sans-serif;
  text-align: center;
  height: 20vh;
  width: 35%;
  background-color: #FAEBD7;
  padding: 5px;
  border: black solid 2px;
  border-radius: 15px;
}
.shape {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #ddf;
  margin: 20px;
  border: 20px solid #bbbbdd;
}
.shape:hover {
  background: #fdd;
}
#shape1 {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
#shape2 {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#shape3 {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
/*************************
		ORGANIZATION:
Separate files for:
CSS Reset or normalization,
Colors,
Fonts and typography,
UI Elements,
The main styles of the page,
...and any other relevant group of rules depending on your project.

**************************/
