<section>
  <div class="form-module">
<div>
  <div>
    <h1 class="page-header">Admin</h1>
    <button class="btn btn-primary" ng-click="createRiskCompatability()">Update Fund Risk Compatability</button>
    <form  class="form" ng-submit="anyfund()">
      <div hide-form="showing" class="form-group">
        <label hide-form="showing">Name</label>
        <input hide-form="showing" type="text" class="form-control" name="name" ng-model="newfundForm.name" required>
        <label hide-form="showing">Symbol</label>
        <input hide-form="showing" type="text" class="form-control" name="symbol" ng-model="newfundForm.symbol" required>
        <label hide-form="showing">Asset Class</label>
        <input hide-form="showing" type="text" class="form-control" name="assetClass" ng-model="newfundForm.assetClass" required>
        <label hide-form="showing">Beta</label>
        <input hide-form="showing" type="text" class="form-control" name="beta" ng-model="newfundForm.beta" required>
        <label hide-form="showing">Expense Ratio</label>
        <input hide-form="showing" type="text" class="form-control" name="expenseRatio" ng-model="newfundForm.expenseRatio" required>
        <label hide-form="showing">Load Type</label>
        <input hide-form="showing" type="text" class="form-control" name="load" ng-model="newfundForm.load" required>
        <label hide-form="showing">Risk Bracket</label>
        <input hide-form="showing" type="text" class="form-control" name="riskBracket" ng-model="newfundForm.riskBracket" required>
        <label hide-form="showing">Risk Potential</label>
        <input hide-form="showing" type="text" class="form-control" name="riskPotential" ng-model="newfundForm.riskPotential" required>
      </div>
      <div>
        <button ng-click="toggle()" >Add Fund</button>
      </div>
    </form>
    <a class="btn btn-default" role="button" ng-submit="delete(fund._id)">Delete</a>
    </div>
  <div>
  <br />
  <br />
    <div>
      <input class="form-control" ng-model="fundinfoFilter" placeholder="Filter by Name"/>
      <div ng-repeat="specificFund in fundinfo | filter: {name: fundinfoFilter}">
        <a ng-click="changeMutualFund(specificFund)">{{specificFund.name}}: {{specificFund.riskBracket}}</a>
      </div>
    </div>
    <br />
    <br />
    <div>
     <form class="form-control" ng-submit="updateMutualFund(changedFund)">
        <input title="ID" class="form-control" ng-model="changedFund._id" placeholder="ID" ng-disabled="true"/>
        <input title="Name" class="form-control" ng-model="changedFund.name" placeholder="Name"/>
        <input title="Symbol" class="form-control" ng-model="changedFund.symbol" placeholder="Symbol"/>
        <input title="Price" class="form-control" ng-model="changedFund.price" placeholder="Price"/>
        <input title="Morningstar" class="form-control" ng-model="changedFund.morningstar" placeholder="Morningstar"/>
        <input title="Asset Class" class="form-control" ng-model="changedFund.assetClass" placeholder="Asset Class"/>
        <input title="Beta" class="form-control" ng-model="changedFund.beta" placeholder="Beta"/>
        <input title="Expense Ratio" class="form-control" ng-model="changedFund.expenseRatio" placeholder="Expense Ratio"/>
        <input title="Risk Bracket" class="form-control" ng-model="changedFund.riskBracket" placeholder="Risk Bracket"/>
        <input title="Risk Potential" class="form-control" ng-model="changedFund.riskPotential" placeholder="Risk Potential"/>
        <button class="btn btn-success" type="submit">Update Fund</button>
      </form>
    </div>
  </div>
</div>
