

<section class="admin-page" ng-controller="mainController">
  <div id="slideshow" >
     <div>
       <img src="./images/0.jpg" width="100%" >
     </div>
     <div>
      <img src="./images/1.jpg" width="100%" >
    </div>
    <div>
      <img src="./images/2.jpg" width="100%" >
    </div>
    <div>
      <img src="./images/3.jpeg" width="100%" >
    </div>
    <div>
      <img src="./images/4.jpg" width="100%" >
    </div>
    <div>
      <img src="./images/5.jpeg" width="100%" >
    </div>
    <div>
      <img src="./images/6.jpg" width="100%" >
    </div>
    <div>
      <img src="./images/8.jpg" width="100%" >
    </div>
    <div>
      <img src="./images/9.jpg" width="100%" >
    </div>
  </div>
  <div class="form-module">
    <div>
    <div>
    <h1 class="page-header">Admin</h1>
  </div>
    <button class="btn btn-primary" ng-click="createRiskCompatability()">Update Fund Risk</button>


  <div>

    <div>
      <input class="form-control" ng-model="fundinfoFilter" placeholder="Filter by Name"/>
      <div ng-repeat="specificFund in fundinfo | filter: {name: fundinfoFilter}">
        <a ng-click="changeMutualFund(specificFund)">{{specificFund.name}}: {{specificFund.riskBracket}}</a>
      </div>
    </div>
    <br />
    <br />
    <div>
     <form class="form" ng-submit="updateMutualFund(changedFund)">
        <input title="ID" class="form-control" ng-model="changedFund._id" placeholder="ID" ng-disabled="true"/>
        <input title="Name" class="form-control" ng-model="changedFund.name" placeholder="Name"/>
        <input title="Symbol" class="form-control" ng-model="changedFund.symbol" placeholder="Symbol"/>
        <input title="Price" class="form-control" ng-model="changedFund.price" placeholder="Price"/>
        <input title="Morningstar" class="form-control" ng-model="changedFund.morningstar" placeholder="Morningstar"/>
        <input title="Asset Class" class="form-control" ng-model="changedFund.assetClass" placeholder="Asset Class"/>
        <input title="Beta" class="form-control" ng-model="changedFund.beta" placeholder="Beta"/>
        <input title="Expense Ratio" class="form-control" ng-model="changedFund.expenseRatio" placeholder="Expense Ratio"/>
        <input title="Risk Bracket" class="form-control" ng-model="changedFund.riskBracket" placeholder="Risk Bracket"/>
        <input title="Risk Potential" class="form-control" ng-model="changedFund.riskPotential" placeholder="Risk Potential"/>
        <button class="btn btn-success" type="submit">Update Fund</button>
        <div>
          <br />
          <br />
        </div>

        <form  class="form" ng-submit="anyfund()">
          <div class="form-group">
            <input  type="text" class="form-control" name="name" ng-model="newfundForm.name" placeholder="Name" required>
            <input  type="text" class="form-control" name="symbol" ng-model="newfundForm.symbol" placeholder="Symbol" required>
            <input  type="text" class="form-control" name="assetClass"  ng-model="newfundForm.assetClass" placeholder="Asset Class" required>
            <input type="text" class="form-control" name="beta" ng-model="newfundForm.beta" placeholder="Beta" required>
            <input  type="text" class="form-control" name="expenseRatio" ng-model="newfundForm.expenseRatio" placeholder="Expense Ratio" required>
            <input  type="text" class="form-control" name="morningstar" ng-model="newfundForm.load" placeholder="Morningstar" required>
            <input  type="text" class="form-control" name="riskBracket" ng-model="newfundForm.riskBracket" placeholder="Risk Bracket" required>
            <input  type="text" class="form-control" name="riskPotential" ng-model="newfundForm.riskPotential" placeholder="Risk Potential" required>
          </div>
          <div>
            <button class="btn btn-success" ng-click="toggle()" >Add Fund</button>
          </div>
        </form>
      </form>
    </div>
  </div>
</div>
</div>
</section>
