<div ng-controller="formController">

  <table width="75%" ng-repeat="fund in fundinfo">
    <tbody>
      <tr >
          <td align ="left" width="40%">{{fund.name}}</td>
          <td align ="center" width="10%">{{fund.symbol}}</td>
          <td align ="center" width="5%">{{fund.beta}}</td>
          <td align ="center" width="30%">{{fund.assetClass}}</td>
          <td align ="center" width="5%">{{fund.expenseRatio}}</td>
          <td align ="center" width="10%">{{fund.load}}</td>
      </tr>
    </tbody>
  </table>
</div>
