<div class="header-container">

  <div class="login-container">
    <login></login>
  </div>

  <div class="video-container">
    <video preload="true" autoplay="autoplay" loop="loop" volume="0" poster="">
    <source src="" type="video/mp4"/>
    <source src="" type="video/webm"/>
    <source src="" type="video/ogg"/>

    </video>



<div>
<!-- <div ng-controller="formController" class="demo_area">
  <div id="clock">
    <div id="hour" style="transform: rotate(334.5deg);"><img src="./images/hourHand.png"></div>
    <div id="minute" style="transform: rotate(54deg);"><img src="./images/minuteHand.png"></div>
    <div id="second" style="transform: rotate(108deg);"><img src="./images/secondHand.png"></div>
  </div>
</div> -->
  <h1 class="page-header">HOME</h1>
  <form ng-submit="searchSymbols()">
    <div class="search-box">
      <input class="form-control" ng-model="stockQuery" type="text"/>
      <br>
      <button class="btn btn-info">Search Stocks</button>
    </div>
  </form>

  <div class="stock-info-container">
    <div class="stock-info" ng-repeat="company in data">
    <a ng-click="getMoreInformation(company.symbol)" ui-sref="stock"><h3>{{company.symbol}}: {{company.name}}</h3></a>
    </div>
  </div>
  <!--mutual fund info-->
    <div ng-controller="fundController">
      <form ng-submit="searchFund()">
        <input class="form-control" ng-model="searchFunds" type="text"/>
        <button class="btn btn-info">Search Funds</button>
      </form>
      <div ng-repeat="fund in fundInfo | filter: {name: searchFunds}">
        <div>
          <a ng-click="searchFund(fund.symbol)" ui-sref="fundinfo"><h3>{{fund.name}} : {{fund.symbol}}</h3></a>
          <button ng-disabled="checkPortfolio(fund._id)" ng-click="addToPortfolio(fund._id)" class="btn btn-primary">Add to Portfolio</button>
          <button ng-disabled="!checkPortfolio(fund._id)" ng-click="removeFromPortfolio(fund._id)" class="btn btn-danger">Remove from Portfolio</button>
        </div>
      </div>
    </div>
  </div>
</div>
