<div>
  <h1 class="page-header">HOME</h1>
  <form ng-submit="searchSymbols()">
    <input class="form-control" ng-model="stockQuery" type="text"/>
    <button class="btn btn-info">Search Stocks</button>
  </form>
  <div ng-repeat="company in data">
    <a ng-click="getMoreInformation(company.symbol)" ui-sref="stock"><h3>{{company.symbol}}: {{company.name}}</h3></a>
  </div>
  <!--mutual fund info-->
    <div ng-controller="formController">
      <form ng-submit="searchFund()">
        <input class="form-control" ng-model="searchFund" type="text"/>
        <button class="btn btn-info">Search Funds</button>
      </form>
      <div ng-repeat="specificFund in fundinfo">
        <div>
          <a ng-click="searchFund(specificFund.symbol)" ui-sref="fundinfo"><h3>{{specificFund.name}} : {{specificFund.symbol}}</h3></a>
          <button ng-click="addToPortfolio(specificFund._id)" class="btn btn-primary">Add to Portfolio</button>
          <button ng-click="removeFromPortfolio(specificFund._id)" class="btn btn-danger">Remove from Portfolio</button>
        </div>
      </div>
    </div>
</div>
