<section>




<div id="slideshow" >
   <div>
     <img src="./images/0.jpg" width="100%" >
   </div>
   <div>
    <img src="./images/1.jpg" width="100%" >
  </div>
  <div>
    <img src="./images/2.jpg" width="100%" >
  </div>
  <div>
    <img src="./images/3.jpeg" width="100%" >
  </div>
  <div>
    <img src="./images/4.jpg" width="100%" >
  </div>
  <div>
    <img src="./images/5.jpeg" width="100%" >
  </div>
  <div>
    <img src="./images/6.jpg" width="100%" >
  </div>
  <div>
    <img src="./images/7.jpg" width="100%" >
  </div>
  <div>
    <img src="./images/8.jpg" width="100%" >
  </div>
  <div>
    <img src="./images/9.jpg" width="100%" >
  </div>
</div>
<div class="login-module">
    <login></login>
</div>
</section>

  <!-- <div ng-controller="formController" class="demo_area">
    <div id="clock">
      <div id="hour" style="transform: rotate(334.5deg);"><img src="./images/hourHand.png"></div>
      <div id="minute" style="transform: rotate(54deg);"><img src="./images/minuteHand.png"></div>
      <div id="second" style="transform: rotate(108deg);"><img src="./images/secondHand.png"></div>
    </div>
  </div> -->

<!-- <section>
  <div class="page-module">
    <div class="filler-foto"></div>
  </div>
</section> -->
