<style>
    /* This only works with JavaScript, 
       if it's not present, don't show loader */
    .no-js #loader { display: none;  }
    .js #loader { display: block; position: absolute; left: 100px; top: 0; }
</style>

<script>

  <img src="download.png" id="loader">
  
  <img src="//farm6.static.flickr.com/5299/5400751421_55d49b2786_o.jpg">
    
 $(window).load(function() {
                $.ajax({
                    url: 'trap.php',
                        type: 'get',
                        success: function(visited){
                            if (visited==0){//when not yet visited
                                    $('#loader').css("display","block");
                                }else{
                                    $('#loader').css("display","none");                                 
                                }
                            }
                   });
           });
 </script> 

<div class="form-module">
<div>
  <h1 ng-click="checkUserCookie()" class="page-header">PORTFOLIO</h1>

  <br />
  <a ng-controller="logoutController" ui-sref="login" ng-click='logout()'><button  class="btn btn-info" ng-show="userLogged">Log out</button></a>
  <button ng-click="getCompatibleFunds()" class="btn btn-info">Get Matching Mutual Funds</button>
</div>
<div>
  <h1>{{currentUserCookie.username}}</h1>
  <h2>{{currentUserCookie.firstName}} {{currentUserCookie.lastName}}</h2>
  <h2>{{currentUserCookie.email}}</h2>
  <div ng-repeat="company in currentUserPortfolioCookie.portfolio">
    {{company.name}}: {{company.symbol}}
    <button ng-click="removeFromPortfolio(company._id)" class="btn btn-danger">Remove from Portfolio</button>
  </div>
  <div>
    <h1>Best Matches</h1>
    <div ng-repeat="company in currentUserBestMatchesCookie.bestMatches">
      {{company.name}}: {{company.symbol}}
      <br />
      {{company.assetClass}}
      {{company.beta}}
      {{company.expenseRatio}}
    </div>
  </div>
  <div>
    <h1>Good Matches</h1>
    <div ng-repeat="company in currentUserGoodMatchesCookie.goodMatches">
      {{company.name}}: {{company.symbol}}
      <br />
      {{company.assetClass}}
      {{company.beta}}
      {{company.expenseRatio}}
    </div>
  </div>
  <div>
    <h1>Okay Matches</h1>
    <div ng-repeat="company in currentUserOkayMatchesCookie.okayMatches">
      {{company.name}}: {{company.symbol}}
      <br />
      {{company.assetClass}}
      {{company.beta}}
      {{company.expenseRatio}}
    </div>
  </div>
  <div>
    <h1>Bad Matches</h1>
    <div ng-repeat="company in currentUserBadMatchesCookie.badMatches">
      {{company.name}}: {{company.symbol}}
      <br />
      {{company.assetClass}}
      {{company.beta}}
      {{company.expenseRatio}}
    </div>
  </div>
</div>

 <div class="container">
    <h1>Gates Foundation Educational Spending</h1>
    <div id="toolbar">
      <a href="#" id="all" class="button active">All Grants</a>
      <a href="#" id="year" class="button">Grants By Year</a>
    </div>
    <div id="vis"></div>

    <div class="footer">
      <p>A demonstration of animated bubble charts in JavaScript and D3.js</p>
      <p><a href="http://vallandingham.me/bubble_charts_in_js.html">Blog Post</a> | <a href="https://github.com/vlandham/bubble_chart">Code</a></p>
    </div>
  </div>

</div>

  <!-- <script src="lib/d3.js"></script>
  <script src="src/tooltip.js"></script>
  <script src="src/bubble_chart.js"></script> -->
