<section>
<div class="form-module">
<div>

  <h1 ng-click="checkUserCookie()" class="page-header">PORTFOLIO</h1>
  <div class="user-info">
    <p>{{currentUserCookie.firstName}} {{currentUserCookie.lastName}}</p>
  </div>

  <br />
  <a ng-controller="logoutController" ui-sref="login" ng-click='logout()'><button  class="btn btn-info" ng-show="userLogged">Log out</button></a>
  <button ng-click="getCompatibleFunds()" class="btn btn-info">Get Matching Mutual Funds</button>
</div>
<div>

 <div class="fund-bubble-container">
    <h1> Funds Sized by Suitability </h1>
    <div id="toolbar">
      <a href="#" id="all" class="button active">All Funds</a>
      <a href="#" id="year" class="button">Funds By Risk</a>
    </div>
  <div id="vis"></div>
</div>


    <br />
    <a ng-controller="logoutController" ui-sref="login" ng-click='logout()'><button  class="btn btn-info" ng-show="userLogged">Log out</button></a>
    <button ng-click="getCompatibleFunds()" class="btn btn-info">Get Matching Mutual Funds</button>
  </div>
  <div>

    <div class="port-divs">
      <div class="port-div">
        <h1>Best Matches</h1>
        <div ng-repeat="company in currentUserBestMatchesCookie.bestMatches">
          <a ng-click="getMoreInformation(company.symbol)" ui-sref="fundinfo">{{company.name}}: {{company.symbol}}</a>
          <br />
          {{company.assetClass}}
          {{company.beta}}
          {{company.expenseRatio}}
          <br/>
          <button ng-disabled="checkPortfolio(company._id)" ng-click="addRecommendedToPortfolio(company._id)" class="btn btn-primary">Add to Portfolio</button>
          <button ng-disabled="!checkPortfolio(company._id)" ng-click="removeRecommendedFromPortfolio(company._id)" class="btn btn-danger">Remove from Portfolio</button>
        </div>
      </div>
      <div class="port-div">
        <h1>Good Matches</h1>
        <div ng-repeat="company in currentUserGoodMatchesCookie.goodMatches">
          <a ng-click="getMoreInformation(company.symbol)" ui-sref="fundinfo">{{company.name}}: {{company.symbol}}</a>
          <br />
          {{company.assetClass}}
          {{company.beta}}
          {{company.expenseRatio}}
          <br/>
          <button ng-disabled="checkPortfolio(company._id)" ng-click="addRecommendedToPortfolio(company._id)" class="btn btn-primary">Add to Portfolio</button>
          <button ng-disabled="!checkPortfolio(company._id)" ng-click="removeRecommendedFromPortfolio(company._id)" class="btn btn-danger">Remove from Portfolio</button>
        </div>
      </div>
      <div class="port-div">
        <h1>Okay Matches</h1>
        <div ng-repeat="company in currentUserOkayMatchesCookie.okayMatches">
          <a ng-click="getMoreInformation(company.symbol)" ui-sref="fundinfo">{{company.name}}: {{company.symbol}}</a>
          <br />
          {{company.assetClass}}
          {{company.beta}}
          {{company.expenseRatio}}
          <br/>
          <button ng-disabled="checkPortfolio(company._id)" ng-click="addRecommendedToPortfolio(company._id)" class="btn btn-primary">Add to Portfolio</button>
          <button ng-disabled="!checkPortfolio(company._id)" ng-click="removeRecommendedFromPortfolio(company._id)" class="btn btn-danger">Remove from Portfolio</button>
        </div>
      </div>
      <div class="port-div">
        <h1>Bad Matches</h1>
        <div ng-repeat="company in currentUserBadMatchesCookie.badMatches">
          <a ng-click="getMoreInformation(company.symbol)" ui-sref="fundinfo">{{company.name}}: {{company.symbol}}</a>
          <br />
          {{company.assetClass}}
          {{company.beta}}
          {{company.expenseRatio}}
          <br/>
          <button ng-disabled="checkPortfolio(company._id)" ng-click="addRecommendedToPortfolio(company._id)" class="btn btn-primary">Add to Portfolio</button>
          <button ng-disabled="!checkPortfolio(company._id)" ng-click="removeRecommendedFromPortfolio(company._id)" class="btn btn-danger">Remove from Portfolio</button>
        </div>
      </div>
    </div>
  </div>
  <div class="my-mutual-container">
    <div class="my-mutual">
      <h1>My Mutual Funds</h1>
      <div ng-repeat="company in currentUserPortfolioCookie.portfolio">
        <a ng-click="getMoreInformation(company.symbol)" ui-sref="fundinfo"><h4>{{company.name}}: {{company.symbol}}</h4></a>
        <button ng-click="removeFromPortfolio(company._id)" class="btn btn-danger">Remove from Portfolio</button>
        <br />
      </div>
    </div>
  </div>
</div>



  <!-- <script src="lib/d3.js"></script>
  <script src="src/tooltip.js"></script>
  <script src="src/bubble_chart.js"></script> -->
</section>
