<section>
<div class="form-module">
<div>
  <h1 ng-click="checkUserCookie()" class="page-header">PORTFOLIO</h1>
  <div class="user-info">
    <p>{{currentUserCookie.firstName}} {{currentUserCookie.lastName}}</p>
  </div>

  <br />
  <a ng-controller="logoutController" ui-sref="login" ng-click='logout()'><button  class="btn btn-info" ng-show="userLogged">Log out</button></a>
  <button ng-click="getCompatibleFunds()" class="btn btn-info">Get Matching Mutual Funds</button>
</div>
<div>

 <div class="fund-bubble-container">
    <h1> Funds Sized by Suitability </h1>
    <div id="toolbar">
      <a href="#" id="all" class="button active">All Funds</a>
      <a href="#" id="year" class="button">Funds By Risk</a>
    </div>
  <div id="vis"></div>
</div>

  <div ng-repeat="company in currentUserPortfolioCookie.portfolio">
    {{company.name}}: {{company.symbol}}
    <button ng-click="removeFromPortfolio(company._id)" class="btn btn-danger">Remove from Portfolio</button>
  </div>

<div class="matches-container"
  <div class="matches">
    <h1>Best Matches</h1>
    <div ng-repeat="company in currentUserBestMatchesCookie.bestMatches">
      {{company.name}}: {{company.symbol}}
      <br />
      {{company.assetClass}}
      {{company.beta}}
      {{company.expenseRatio}}
    </div>
  </div>
  <div class="matches">
    <h1>Good Matches</h1>
    <div ng-repeat="company in currentUserGoodMatchesCookie.goodMatches">
      {{company.name}}: {{company.symbol}}
      <br />
      {{company.assetClass}}
      {{company.beta}}
      {{company.expenseRatio}}
    </div>
  </div>
  <div class="matches">
    <h1>Okay Matches</h1>
    <div ng-repeat="company in currentUserOkayMatchesCookie.okayMatches">
      {{company.name}}: {{company.symbol}}
      <br />
      {{company.assetClass}}
      {{company.beta}}
      {{company.expenseRatio}}
    </div>
  </div>
  <div class="matches">
    <h1>Bad Matches</h1>
    <div ng-repeat="company in currentUserBadMatchesCookie.badMatches">
      {{company.name}}: {{company.symbol}}
      <br />
      {{company.assetClass}}
      {{company.beta}}
      {{company.expenseRatio}}
    </div>
  </div>
</div>


    <div class="footer">
      <p>A demonstration of animated bubble charts in JavaScript and D3.js</p>
      <p><a href="http://vallandingham.me/bubble_charts_in_js.html">Blog Post</a> | <a href="https://github.com/vlandham/bubble_chart">Code</a></p>
    </div>
  </div>

</section>

  <!-- <script src="lib/d3.js"></script>
  <script src="src/tooltip.js"></script>
  <script src="src/bubble_chart.js"></script> -->
