<section>
  <div id="slideshow" ng-controller="mainController" >
     <div>
       <img src="./images/0.jpg" width="100%" >
     </div>
     <div>
      <img src="./images/1.jpg" width="100%" >
    </div>
    <div>
      <img src="./images/2.jpg" width="100%" >
    </div>
    <div>
      <img src="./images/3.jpeg" width="100%" >
    </div>
    <div>
      <img src="./images/4.jpg" width="100%" >
    </div>
    <div>
      <img src="./images/5.jpeg" width="100%" >
    </div>
    <div>
      <img src="./images/6.jpg" width="100%" >
    </div>
    <div>
      <img src="./images/8.jpg" width="100%" >
    </div>
    <div>
      <img src="./images/9.jpg" width="100%" >
    </div>
  </div>

  <div class="form-module">
  <div onload="hideTotal()">
    <div id="wrap">
        <form action="" id="form" ng-submit="calculateTotal()">
        <div>
          <h1 class="page-header">Suitability Form</h1>
            <div id="totalRisk"></div>
              <div>{{data.repeatSelect}}</div>
                <div>
                  <label for="repeatSelect">Experience: </label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect">
                    <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
                  </select>
                  <br />

                  <label >Age</label><br />
                  <input type="radio" name="ageselected" value="30"  />Under 30<br />
                  <input type="radio" name="ageselected" value="3040"  />30-40<br />
                  <input type="radio" name="ageselected" value="4050"  />40-50<br />
                  <input type="radio" name="ageselected" value="5065"  />50-65<br />
                  <input type="radio" name="ageselected" value="65"  />65+<br />

                  <hr>
                  <label >Investment Objectives</label><br />
                  <input type="radio" name="objectiveselected" value="Spec"  />Speculation<br />
                  <input type="radio" name="objectiveselected" value="Growth"  />Growth<br />
                  <input type="radio" name="objectiveselected" value="Income"  />Income<br />
                  <input type="radio" name="objectiveselected" value="Tax"  />Tax Advantages<br />
                  <input type="radio" name="objectiveselected" value="Safety"  />Safety of Principal<br />

                  <hr>
                  <label>Annual Income</label><br />
                  <input type="radio" name="incomeselected" value="I50"  />$0-50k<br />
                  <input type="radio" name="incomeselected" value="I50100" />$50-100k<br />
                  <input type="radio" name="incomeselected" value="I100250" />$100-250k<br />
                  <input type="radio" name="incomeselected" value="I250500" />$250-500k<br />
                  <input type="radio" name="incomeselected" value="I500" />$500 +<br />

                  <hr />
                  <label>Time Frame</label><br />
                  <input type="radio" name="timeframeselected" value="6mo1yr"  />6 mo to 1 year<br />
                  <input type="radio" name="timeframeselected" value="1to3yr" />1 to 3 years<br />
                  <input type="radio" name="timeframeselected" value="3to5yr" />3 to 5 years<br />
                  <input type="radio" name="timeframeselected" value="5to7yr" />5 to 7 years<br />
                  <input type="radio" name="timeframeselected" value="7+" />7 +<br />

                  <hr />
                  <label>Liquidity Needs</label><br />
                  <input type="radio" name="liquidityselected" value="Low"  />Does Not Matter<br />
                  <input type="radio" name="liquidityselected" value="Medium-Low" />Matters Little<br />
                  <input type="radio" name="liquidityselected" value="Medium" />Somewhat Important<br />
                  <input type="radio" name="liquidityselected" value="Medium-High" />Important<br />
                  <input type="radio" name="liquidityselected" value="High" />Greatly Important<br />

                  <hr />
                  <label>Mutual Fund Investment Experience</label><br />
                  <input type="radio" name="experienceselected" value="Low-Experience"  />0-1 Years<br />
                  <input type="radio" name="experienceselected" value="Medium-Low-Experience" />1-3 Years<br />
                  <input type="radio" name="experienceselected" value="Medium-Experience" />3-5 Years<br />
                  <input type="radio" name="experienceselected" value="Medium-High-Experience" />5-7 Years<br />
                  <input type="radio" name="experienceselected" value="High-Experience" />7+ Years<br />

                  <hr />
                  <label>Stocks Investment Experience</label><br />
                  <input type="radio" name="stockexperienceselected" value="Low-Experience-Stock"  />0-1 Years<br />
                  <input type="radio" name="stockexperienceselected" value="Medium-Low-Experience-Stock" />1-3 Years<br />
                  <input type="radio" name="stockexperienceselected" value="Medium-Experience-Stock" />3-5 Years<br />
                  <input type="radio" name="stockexperienceselected" value="Medium-High-Experience-Stock" />5-7 Years<br />
                  <input type="radio" name="stockexperienceselected" value="High-Experience-Stock" />7+ Years<br />
                </div>
              <button type="submit" id="submit" class="btn btn-success" value="Find">Submit</button>
          </div>
       </form>
    </div>
  </div>
</div>
</section>
