<div onload="hideTotal()">
    <div id="wrap">
        <form action="" id="form" ng-submit="calculateTotal()">
        <div>
          <h1 class="page-header">FORM</h1>
            <div id="totalRisk"></div>
              <div>{{data.repeatSelect}}</div>
                <div>
                  <label for="repeatSelect">Experience: </label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect">
                    <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
                  </select>
                  <br />

                  <label >Age</label><br />
                  <input type="radio" name="ageselected" value="30"  />Under 30<br />
                  <input type="radio" name="ageselected" value="3040"  />30-40<br />
                  <input type="radio" name="ageselected" value="4050"  />40-50<br />
                  <input type="radio" name="ageselected" value="5065"  />50-65<br />
                  <input type="radio" name="ageselected" value="65"  />65+<br />

                  <hr>
                  <label >Investment Objectives</label><br />
                  <input type="radio" name="objectiveselected" value="Spec"  />Speculation<br />
                  <input type="radio" name="objectiveselected" value="Growth"  />Growth<br />
                  <input type="radio" name="objectiveselected" value="Income"  />Income<br />
                  <input type="radio" name="objectiveselected" value="Tax"  />Tax Advantages<br />
                  <input type="radio" name="objectiveselected" value="Safety"  />Safety of Principal<br />

                  <hr>
                  <label>Annual Income</label><br />
                  <input type="radio" name="incomeselected" value="I50"  />$0-50k<br />
                  <input type="radio" name="incomeselected" value="I50100" />$50-100k<br />
                  <input type="radio" name="incomeselected" value="I100250" />$100-250k<br />
                  <input type="radio" name="incomeselected" value="I250500" />$250-500k<br />
                  <input type="radio" name="incomeselected" value="I500" />$500 +<br />

                  <hr />
                  <label>Time Frame</label><br />
                  <input type="radio" name="timeframeselected" value="6mo1yr"  />6 mo to 1 year<br />
                  <input type="radio" name="timeframeselected" value="1to3yr" />1 to 3 years<br />
                  <input type="radio" name="timeframeselected" value="3to5yr" />3 to 5 years<br />
                  <input type="radio" name="timeframeselected" value="5to7yr" />5 to 7 years<br />
                  <input type="radio" name="timeframeselected" value="7+" />7 +<br />
                </div>
              <button type="submit" id="submit" class="btn btn-success" value="Find">Submit</button>
          </div>
       </form>
    </div>
</div>
