@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Merriweather);

/**********************
       CONSTANTS
***********************/
//
// @brightBlue:  #00a5d9;
// @backGray: #f0f0f0;
// @defaultShapesWidth:200px;
// @defaultRadius:30px;
//
// /*********************************
//    OPERATIONS & COLOR FUNCTIONS
// **********************************/
//
// @defaultThemeColor:@brightBlue;
// //@defaultThemeColor:spin(@brightBlue, 100);
//
// @borderSize:@defaultShapesWidth * 0.1;
// @borderColor:@defaultThemeColor - #222;
// //@borderColor:darken(desaturate(@defaultThemeColor, 100%), 20%);


/**********************
        MIXINS
***********************/

.RoundedShape(@radius:@defaultRadius){
    -webkit-border-radius:@radius;
       -moz-border-radius:@radius;
            border-radius:@radius;
}

.Round{
    .RoundedShape(9999px);
}

.RoundedSquare(@radius:@defaultRadius){
    .RoundedShape(@radius);
}

/**********************
         STYLES
***********************/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
//
#nav-container {
    // z-index: 1;
    height: 65px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1.2px solid gray;
    // position: fixed;
    margin-right: 15px;
}

.logo-container {
    display: inline-block;
    float: left;
    background-color: #fff;
    color: #00a5d9;
    font-size: 2em;
    padding-left: 3vh;
    padding-top: 1vh;
}

.desktop-navigation {
  float: right;
  background-color: #fff;
  height: 100%;
  padding-top: 2vh;
  color: #00a5d9;

}

.nav-items {
    display: inline-block;
    background-color: #fff;
    color: #00a5d9;
    margin: 5px;
    font-size: 1.2em;
}

.homepage-pic{
  background-image: url("./images/3.jpeg");
  height:900px;

}
a:link {
  color: #000;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
  text-decoration: none;
  font-family: 'Open Sans', 'Merriweather', sans-serif;
}
a:visited {
  color: #000;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
  text-decoration: none;
  font-family: 'Open Sans', 'Merriweather', sans-serif;
}

/******************

Home page

******************/


.login-section{
  border-radius: 10px;
  display: inline-flex;
  justify-content: flex-start;
  border-radius: 10px;
  height: 650px;
  width: 50%;
  margin-top: 200px;
  margin-left: 10%;
  background: rgb(255, 255, 255); /* The Fallback */
  background: rgba(255, 255, 255, 0.0);
}

.login-module{
  display:inline-flex;
  background: rgba(255, 255, 255, 0.0);
  align-items: flex-start;
  text-align: center;
  height:650px;
  width: 40%;
}
 .login-module-two{
display:inline-flex;
align-items: flex-start;
text-align: center;
background: rgba(255, 255, 255, 0.0);
height:650px;
width: 50%;
margin-left: 20px;
}


.page-module {
  position: relative;
  top: -8vh;
  height: 200vh;
  width: 70%;
  background: white;
  padding-top: 5vh;
  box-shadow: 0px 4px 10px gray,
        -10px 4px 10px gray, 10px 8px 10px gray;
  margin: auto;
}


/******************
Questionaire page

******************/

.q-pic{
  background-image: url("./images/3.jpeg");
  width: 100%;


}
.q-page-header{
  text-align: center;
}
.form-module {
  border-radius: 10px;
  position: relative;
  height: 850px;;
  width: 65%;
  background: #efefef;

  // box-shadow: 0px 4px 10px gray, -10px 4px 10px gray, 10px 8px 10px gray;
  background: rgba(255, 255, 255, 0.0);
  margin-bottom: 30px;
  margin-left:17.5%;
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Oswald";
  justify-content:flex-start;
}

.q-column-a {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 150px;

}
.q-column-b{
margin-left: 50px;
display: inline-flex;
align-items: flex-start;
flex-direction: column;

}
.q-column-c{
margin-left: 50px;
display: inline-flex;
align-items: flex-start;
flex-direction: column;

}

.q-submit{
  text-align: center;
  margin-bottom:50px;
}



/*************************
Portfolio Page

*************************/

.port-pic{
  background-image: url("./images/3.jpeg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.fund-bubble-container{
  margin-top:65px;
}




.shape{
    display:inline-block;
    width:@defaultShapesWidth;
    height:200px;
    background:@defaultThemeColor;
    margin:20px;
    border:@borderSize solid @borderColor;
}

#shape1{ .Round }
#shape2{ .RoundedSquare }
#shape3{ .RoundedSquare(60px) }

.my-mutual-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-family: "Oswald";

}
.my-mutual {
  width: 80%;
  height: 60vh;
  min-height: 350px;
  border: solid black 3px;
  border-radius: 20px;
  padding: 10px;
  overflow-y: auto;
  text-align: center;
  font-family: "Oswald";

}
.my-mutual-recommendations {
  width: 90%;
  height: 350px;
  border: solid black 3px;
  border-radius: 20px;
  padding: 10px;
  overflow-y: auto;
  margin: 0 auto;
  text-align: center;
  font-family: "Oswald";

}
.port-divs {
  display: flex;
  justify-content: space-around;
  font-family: "Oswald";

}
.port-div {
  width: 75%;
  height: 65vh;
  min-height: 350px;
  border: solid black 3px;
  border-radius: 20px;
  overflow-y: auto;
  text-align: center;
  font-family: "Oswald";

}

.portfolio-container {
  display: flex;
  justify-content: space-around;
  font-family: "Oswald";

}
.portfolio-container-recommendations {
  width: 90%;
  height: 75vh;
  min-height: 350px;
  border: solid black 3px;
  border-radius: 20px;
  overflow-y: auto;
  margin: 0 auto;
  font-family: "Oswald";

  text-align: center;
}

























/*********************
Admin page
*********************/
.admin-module {
  border-radius: 10px;
  position: relative;
  height: 1850px;
  width: 65%;
  background: #888;
  box-shadow: 0px 4px 10px gray, -10px 4px 10px gray, 10px 8px 10px gray;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Oswald";
  justify-content:flex-start;
}



// /**********************
//         CLOCK
// ***********************/
//
// #clock {
//   position: relative;
//   width: 378px;
//   height: 378px;
//   left: 50%;
// }
// #clock div {
//   position: absolute;
// }
// #clock img[src*="second"] {
//   transition: transform 600000s linear 0s;
// }
// #clock:target img[src*="second"] {
//   transform: rotate(3600000deg);
// }
// #clock img[src*="minute"] {
//   transition: transform 360000s linear 0s;
// }
// #clock:target img[src*="minute"] {
//   transform: rotate(36000deg);
// }
// #clock img[src*="hour"] {
//   transition: transform 216000s linear 0s;
// }
// #clock:target img[src*="hour"] {
//   transform: rotate(360deg);
// }
//
// /*************************
// 		ORGANIZATION:
// Separate files for:
// CSS Reset or normalization,
// Colors,
// Fonts and typography,
// UI Elements,
// The main styles of the page,
// ...and any other relevant group of rules depending on your project.
//
// **************************/
